<!doctype html>
<html>
  <head>
    <title>SQL Injection Demo</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
    <!-- font-family: 'Dosis', sans-serif; -->
  </head>
  <body>
    <h1>SQL Injection Attack Demo</h1>
    <!-- Begin Login Form -->
    <form action="TODO" method="POST">
      <div class="container">
        <input type="text" placeholder="username" name="username" required>
        <input type="text" placeholder="password" name="password" required>
        <button type="submit">Login</button>
        <!-- Do I have to wrap the above line in input element? -->
      </div>
    </form>
  </body>
</html>